@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive{
    .rotate-45{
        transform: rotate(45deg);
        transition: all .4s
    }
}


@variants hover{
    .zoom{
        transform: scale(2);
        transition: all .4s
    }
}
